<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Perguntas de Negócio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>
<body>
  <h1>Perguntas de Negócio</h1>
  <h2>Análise de dados para responder Perguntas de Negócios</h3>
  <p>Este projeto consistiu em uma Análise Exploratória de Dados (EDA) realizada em Linguagem Python, focada no setor de varejo. O objetivo foi extrair insights valiosos a partir de dados, permitindo uma compreensão mais profunda do comportamento dos consumidores e das vendas.</p>
  <p>Esta análise foi desenvolvida como parte de um exercício de um curso de Análise de Dados, onde exploramos um conjunto de dados real. A fonte dos dados utilizada para este exercício pode ser encontrada no seguinte link: <a href="htth3s://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls">Sample Superstore Sales Data.</a></p>
  <h2>Sumário:</h2>
  <p><a href="http://localhost:8080/pergunta1" class="button-link">1: Qual Cidade com Maior Valor de Venda de Produtos da Categoria 'Office Supplies'?</a></p>
  <p><a href="http://localhost:8080/pergunta2" class="button-link">2: Qual o Total de Vendas Por Data do Pedido?</a></p>
  <p><a href="http://localhost:8080/pergunta3" class="button-link">3: Qual o Total de Vendas por Estado?</a></p>
  <p><a href="http://localhost:8080/pergunta4" class="button-link">4: Quais São as 10 Cidades com Maior Total de Vendas?</a></p>
  <p><a href="http://localhost:8080/pergunta5" class="button-link">5: Qual Segmento Teve o Maior Total de Vendas?</a></p>
  <p><a href="http://localhost:8080/pergunta6" class="button-link">6: Qual o Total de Vendas Por Segmento e Por Ano?</a></p>
  <p><a href="http://localhost:8080/pergunta7" class="button-link">7: Os gestores da empresa estão considerando conceder diferentes faixas de descontos e gostariam de fazer uma simulação com base na regra: Se o Valor_Venda for maior que 1000 recebe 15% de desconto, e Se o Valor_Venda for menor que 1000 recebe 10% de desconto. Quantas Vendas Receberiam 15% de Desconto?</a></p>
  <p><a href="http://localhost:8080/pergunta8" class="button-link">8: Considere Que a Empresa Decida Conceder o Desconto de 15% do Item Anterior. Qual seria a Média do Valor de Venda Antes e Depois do Desconto?</a></p>
  <p><a href="http://localhost:8080/pergunta9" class="button-link">9: Qual a Média de Vendas Por Segmento, Por Ano e Por Mês?</a></p>
  <p><a href="http://localhost:8080/pergunta10" class="button-link">10: Qual o Total de Vendas Por Categoria das Top 12 SubCategorias?</a></p>
</body>
</html>